:root {

  --color-blue-secondary: #265C9A;
  --color-blue-primary: #1F497B;
  --color-gray-border: #DEDEDE;
  --color-white-main: #FFFFFF;
  // --color-green-accent: #247251;
  // --color-green-secondary: #6AAF12;
}
