.main-nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 25px;
  list-style: none;
  min-height: 100px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main-nav__list {
    font-size: 20px;
    min-height: 50px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px){
  .main-nav__list {
    min-height: 75px;
  }
}

@media screen and (max-width: 767px) {
  .main-nav__list {
    display: none;
    transition: display 0.5s ease;
  }
}

@media screen and (max-width: 767px) {
  .main-nav__list_active {
    box-sizing: border-box;
    padding: 40px 15px 15px 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    // align-items: center;
    height: 225px;
    width: 200px;
    // $hover-gradient: linear-gradient(256deg, #478bf9 0%, #9dadf2 100%);
    // background: $main-colors-azure;
    // background: linear-gradient(256deg, $main-colors-blue 0%, $main-colors-azure 100%);
    background: linear-gradient(0deg, #e5865f 0%, #f2e9d8 100%);
    // border: 1px solid transparent;
    border-radius: 3px;
    top: 16px;
    right: 16px;
    z-index: 9;
    transition: border 0.3s ease;
    opacity: 0.95;
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .main-nav__list_active {
    top: 8px;
    right: 8px;
  }
}
